.projects {
    padding: 0 10%;
    background-color: white;
    color: #1A2233;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects__title {
    font-size: 2rem;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .projects {
        gap: 100px;
    }

    .projects__title {
        font-size: 1.4rem;
    }
}