.projects {
    padding: 0 10%;
    background-color: #1A2233;
    color: #fff;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.projects__title {
    font-size: 2rem;
    text-align: center;
}