.input__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input__label {
    align-self: flex-start;
    font-size: 1rem;
    font-weight: 400;
    color: #1A2233;
    display: block;
}

.input__input{
    width: 100%;
    padding: 15px 10px;
    box-sizing: border-box;
    border-radius: 0.25rem;
    outline-offset: 0.2rem;
    background-color: #fff;
    font-size: 1rem;
    border: 1px solid #b1b1b1;
}

.input__input:focus-visible {
    outline: 2px solid #6278f7;
}

.invalid {
    outline: 2px solid red;
}