.skills {
    padding: 0 10%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills__title {
    font-size: 2rem;
}

.skills__container {
    margin: 20px 0;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    justify-content: center;
    grid-gap: 10px;
    max-width: 1000px;
    height: auto;
}

@media screen and (max-width: 425px) {
    .skills {
        height: auto;
    }

    .skills__container {
        justify-content: center;
        grid-gap: 10px;
    }
}