.contact {
    padding: 30px 10%;
    height: auto;
    background-color: #1A2233;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__title {
    font-size: 2rem;
    color: #fff;
}

.contact__form {
    width: 90%;
    max-width: 400px;
    margin: 19px;
    padding: 1.5em 2.5em;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}