.contact {
    padding: 30px 10%;
    height: auto;
    background-color: #1A2233;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__title {
    font-size: 2rem;
    color: #fff;
}

.contact__form {
    width: 90%;
    max-width: 400px;
    margin: 19px;
    padding: 1.5em 2.5em;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact__input{
    padding: 15px 10px;
    box-sizing: border-box;
    border-radius: 0.25rem;
    outline-offset: 0.2rem;
    background-color: #fff;
    font-size: 1rem;
    border: 1px solid #b1b1b1;
}

.contact__input:focus-visible {
    outline: 2px solid #6278f7;
}

.contact__form textarea {
    resize: none;
    font-family: inherit;
}