.AboutMe {
    padding: 0 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1A2233;
}

.AboutMe__title {
    color: #fff;
    font-size: 2rem;
}

.AboutMe__paragraph {
    color: #fff;
    font-size: 1.2rem;
    text-align: justify;
}

@media screen and (max-width: 425px) {
    .AboutMe__title {
        font-size: 1.4rem;
    }

    .AboutMe__paragraph {
        font-size: 1rem;
        text-align: center;
    }
}